@font-face 
{
    font-family: 'Raleway-Medium';
    font-weight: 500;
    src: url('fonts/Raleway-Medium.ttf')  format('truetype')
}

@font-face 
{
    font-family: 'Raleway-Bold';
    font-weight: 700;
    src: url('fonts/Raleway-Bold.ttf')  format('truetype')
}

*
{
    box-sizing: border-box;
    font-family: 'Raleway-Medium', sans-serif;
    font-weight: 500;
}

body, h3, ul, a
{
    margin: 0px;
    padding: 0px;
}

.div-top
{
    background-color: #E1EDE6;
}

.div-footer
{
    background-color: #E1EDE6;
}

.div-content-body
{
    width: 1110px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.div-content-body.top
{
    padding: 32px 0px;
}

.div-content-body.first
{
    background-image: url("imgs/Layer_0_1.jpg");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 570px;
    padding-top: 144px;
    padding-bottom: 144px;
    margin-bottom: 70px;
}

.div-content-body.second
{
    flex-direction: column;
    margin-bottom: 70px;
}

.div-content-body.third
{
    flex-direction: column;
}

.div-content-body.fourth
{
    flex-direction: column;
    background-image: url("imgs/Group_210.jpg");
    background-repeat: no-repeat;
    padding: 124px 0px 44px 0px;
    margin-bottom: 70px;
}

.div-content-body.footer
{
    flex-direction: row;
    justify-content: flex-start;
    padding: 23px 0px;
}

.a-logo
{
    display: flex;
    font-family: 'Raleway-Bold', sans-serif;
    align-self: center;
    padding: 6px 0px 6px 41px;
    background-image: url("imgs/Star_1.png");
    background-repeat: no-repeat;
    background-position: left;
    text-decoration: none;
    margin-right: 497px;
    font-size: 20px;
    color: #598D66;
}

.ul-top-links
{
    display: flex;
    justify-content: space-between;
    min-width: 470px;
    align-self: center;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.link-top
{
    color: #2C2D35;
    display: flex;
    font-size: 20px;
    line-height: 23.48px;
    border: #E1EDE6;
    background-color: transparent;
    text-decoration: none;
}

.link-top.with-image
{
    background-image: url("imgs/cart.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.div-block
{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.div-block-header
{
    color: #2C2D35;
    font-size: 60px;
    line-height: 66px;
    margin-bottom: 20px;
}

.div-block-header .span-block-highlight
{
    color: #598D66;
}

.div-block-description
{
    display: flex;
    font-size: 18px;
    line-height: 27px;
    color: #86928B;
    margin-bottom: 60px;
}

.button-block
{
    display: flex;
    width: 225px;
    color: #598D66;
    padding: 21px 60px;
    font-size: 20px;
    line-height: 23.48px;
    border-color: #598D66;
    border-width: 1px;
    background-color: transparent;
}

.div-second-header
{
    display: flex;
    margin-bottom: 30px;
}

.div-second-header-name
{
    font-size: 40px;
    line-height: 44px;
    color: #2C2D35;
    margin-right: 427px;
}

.div-second-buttons
{
    display: flex;
    justify-content: space-between;
    min-width: 428px;
    align-self: center;
}

.button-second-header
{
    display: flex;
    background-color: #D4E8D9;
    color: #2C2D35;
    border-radius: 20px;
    border-width: 0px;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 23.48px;
}

.button-second-header:first-child
{
    background-color: #376B44;
    color: #F4F6F5;
}

.div-second-blocks
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.div-second-block
{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 30px;
    background-color: #E1EDE6;
    margin-bottom: 30px;
}

.img-second
{
    display: flex;
    margin-bottom: 20px;
}

.div-second-author
{
    color: #86928B;
    display: flex;
    font-size: 18px;
    line-height: 21.13px;
    margin-bottom: 10px;
}

.div-second-artname
{
    color: #2C2D35;
    display: flex;
    font-size: 30px;
    line-height: 35.22px;
    margin-bottom: 8px;
}

.div-second-artcreation
{
    color: #2C2D35;
    display: flex;
    font-size: 18px;
    line-height: 21.13px;
    margin-bottom: 30px;
}

.div-second-price
{
    color: #598D66;
    display: flex;
    font-size: 24px;
    line-height: 28.18px;
    margin-bottom: 20px;
}

.button-second
{
    color: #598D66;
    display: flex;
    padding: 21px 107.5px;
    font-size: 20px;
    line-height: 23.48px;
    border-width: 1px;
    border-color: #598D66;
    background-color: #E1EDE6;
}

.div-for-background
{
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 70px 0px;
    background-image: url("imgs/pic_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 70px;
}

.div-third-block
{
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    width: 552px;
}

.div-third-header
{
    color: #F4F6F5;
    display: flex;
    font-size: 40px;
    line-height: 40px;
    background-image: url("imgs/Star_2.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 100px;
    margin-bottom: 20px;
}

.div-third-description
{
    color: #FFFFFF;
    display: flex;
    font-family: 'Raleway-Medium', sans-serif;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 60px;
}

.button-third
{
    color: #2C2D35;
    display: flex;
    background-color: #EEDB6D;
    padding: 21px 60px;
    font-size: 20px;
    line-height: 23.48px;
}

.div-fourth-block
{
    display: inline-block;
    margin-left: 475px;
}

.div-fourth-header
{
    color: #2C2D35;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 20px;
}

.div-fourth-description
{
    color: #2C2D35;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
}

.div-fourth-imgs
{
    display: inline-block;
    font-size: 0px;
}

.img-fourth
{
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 30px;
}

.img-fourth:last-child
{
    margin-right: 0px;
}

.ul-footer-data
{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-right: 115px;
}

.a-logo.footer
{
    align-self: flex-start;
    margin-bottom: 35px;
    margin-right: 0px;
}

.ul-footer-contacts
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
}

.div-footer-phone
{
    color: #2C2D35;
    display: flex;
    font-size: 20px;
    line-height: 23.48px;
}

.div-footer-place
{
    color: #86928B;
    display: flex;
    font-size: 18px;
    line-height: 21.13px;
}

.ul-footer-menublock
{
    display: flex;
    justify-content: space-between;
    width: 445px;
    list-style-type: none;
    margin-right: 248px;
}

.ul-footer-block
{
    display: flex;
    flex-direction: column;
    gap: 6px;
    list-style-type: none;
}

.a-footer-header
{
    color: #2C2D35;
    font-size: 20px;
    line-height: 23.48px;
    text-decoration: none;
}

.a-footer-link
{
    color: #86928B;
    display: flex;
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;
}

.ul-footer-social
{
    align-self: flex-start;
    list-style-type: none;
}

.ul-footer-social-buttons
{
    display: flex;
    justify-content: space-between;
    width: 132px;
    margin-bottom: 10px;
    list-style-type: none;
}

.a-footer-social
{
    display: flex;
    width: 24px;
    height: 24px;
}

.a-footer-social.facebook
{
    background-image: url("imgs/Frame_1.png");
}

.a-footer-social.instagram
{
    background-image: url("imgs/Frame_2.png");
}

.a-footer-social.youtube
{
    background-image: url("imgs/Frame_3.png");
}

.li-footer-license
{
    margin-bottom: 6px;
}

.li-footer-license:last-child
{
    margin-bottom: 0px;
}

.div-footer-license
{
    color: #86928B;
    font-size: 12px;
    line-height: 14.4px;
}